.startBody{
    width:100%; 
    height:100%;
}

.startCenterWrapper{
    width:75%;
    height:100%;
    margin-left:auto;
    margin-right:auto; 
    background-color:white; 
}

.startTextWrapper{
    border-width: 10px; 
    border-style:groove;
}

.startTitle{
    color: black;
    font-size:150px;
    text-align:center;
    font-family:serif; 
}

.startText{
    color:darkslategray;
    font-size:40px;
    text-align:center;
    font-family:serif; 
}

.startButton {
    cursor: pointer; 
    margin-top:50px; 
    background-color: green; 
    color: white;
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family:serif; 
}